<html ng-app="lispy2App" ng-controller="Main" windowvisible>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="lispy2 interpreter in JavaScript" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>lispy2</title>
	</head>
    <body style="margin:10px;">
		<a href="http://jhlagado.github.io/lispy2js/"><h3>lispy2 interpreter in JavaScript</h3></a>
		<div class="well">
			<div class="well" scrolltobottom style="background:white;height:300px;overflow-y: auto;">
				<div>
					<div style="margin-bottom:5px;" ng-repeat="line in lines track by $index">
						<div style="white-space:pre;" ng-click="setcommand(line.command)"><a><strong> &gt; {{line.command}}</strong></a></div>
						<div ng-if="line.result"><em>{{line.result}}</em></div>
						<div ng-if="line.error" style="color:red;"><em>{{line.error}}</em></div>
					</div>
				</div>
			</div>
			<form>
				<div class="form-group">
					<textarea style="height:100px;white-space: pre;word-wrap: normal;overflow-x: scroll;" ng-model="command" type="text" class="form-control"></textarea>
				</div>
				<button type="button" class="btn btn-primary" ng-click="go()">Evaluate</button>
				<button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
			</form>
			<div class="clearfix">
				<a href="https://github.com/jhlagado/lispy2js">Get code</a>
				<a class="pull-right" href="tests.html">Run tests</a>
			</div>	
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>        
		<script src="lispy2.js"></script>
		<script src="app.js"></script>
    </body>
</html>